<form action="/add" method="post">
<fieldset>
    <legend>Titulo</legend>
    <p>
        <input type="text" name="titulo" placeholder="Título">
    </p>
    <p>
        <textarea name="conteudo" placeholder="Conteúdo"></textarea>
    </p>
    <button type="submit">Cadastrar</button>
</fieldset>
</form>